<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../static/imagens/favicon.png" type="image/x-icon">
  <title>Eletrônicos</title>
  <link rel="stylesheet" href="../static/css/categorias.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>
    <div id="navbar-placeholder"></div>



    
    <script src="../static/js/loadNavbar.js"></script>
</body>
</html>
