<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/imagens/favicon.png" type="image/x-icon">
    <title>Livros</title>
    <link rel="stylesheet" href="../static/css/categorias.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
  {% include 'navbar.html' %}
  <h1>Livros</h1>

  <div class="search-results">
      {% for item in resultados %}
      <div class="search-item" onclick="window.location.href='{% url 'descricao_item' item.id %}'">
          <img src="{{ item.image.url }}" alt="{{ item.item_name }}">
          <div>
              <p><strong>Nome:</strong> {{ item.item_name }}</p>
              <img src="{% if item.is_favorite %}../static/imagens/star-filled.png{% else %}../static/imagens/star-empty.png{% endif %}" class="favorite-icon" data-item-id="{{ item.id }}" alt="Favorito">
          </div>
      </div>
      {% if forloop.counter|divisibleby:4 %}
      <div style="clear: both;"></div>
      {% endif %}
      {% endfor %}
  </div>

    <script src="../static/js/loadNavbar.js"></script>
    <script src="{% static '../static/js/favoritar.js' %}"></script>
</body>
</html>
