<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../static/imagens/favicon.png" type="image/x-icon">
  <title>Editar Doação</title>
  <link rel="stylesheet" href="../static/css/editar_doação.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
    {% include 'navbar.html' %}
    <div class="request-item-container">
        <div class="form-container">
          <form id="itemRequestForm" method="POST" action="{% url 'editar_doacao' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="image-upload-container">
                    <input type="file" id="imageUpload" name="image" accept="image/*">
                </div>
                <div class="input-group">
                    <label for="item_name">Título do Item:</label>
                    <input type="text" id="item_name" name="item_name" placeholder="Insira o título do item">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label for="category">Categoria:</label>
                    <select id="category" name="category">
                        <option value="">Selecione uma opção</option>
                        <option value="clothes">Roupas</option>
                        <option value="furniture">Móveis</option>
                        <option value="electronics">Eletrônicos</option>
                        <option value="toy">Brinquedos</option>
                        <option value="book">Livros</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="condition">Estado de Conservação:</label>
                    <select id="condition" name="condition">
                        <option value="">Selecione uma opção</option>
                        <option value="new">Novo</option>
                        <option value="used_good">Usado - Bom</option>
                        <option value="used_acceptable">Usado - Aceitável</option>
                    </select>
                </div>
            </div>
            <div class="input-group full-width">
                <label for="description">Descrição:</label>
                <textarea id="description" name="description"></textarea>
            </div>
            <div class="buttons">
                <button type="button" onclick="window.location.href='{% url 'minhas_doacoes' %}'">Cancelar</button>
                <button type="submit" id="submit">Salvar</button>
                <button type="button" id="delete" onclick="confirmDelete()">Excluir</button>
            </div>
          </form>
        </div>
      </div>
    
      <script>
        function confirmDelete() {
          if (confirm("Tem certeza que deseja excluir este item? Esta ação é irreversível!")) {
            window.location.href = '{% url "excluir_doacao" doacao.id %}';
          }
        }
      </script>
    <script src="../static/js/loadNavbar.js"></script>
    
</body>
</html>