<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Itens Solicitados</title>
  <link rel="stylesheet" href="../static/css/itens_solicitados.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
  {% include 'navbar.html' %}

  <header>
    <h1>Itens Solicitados</h1>
  </header>

  <table>
    <thead>
      <tr>
        <th>Imagem</th>
        <th>Item</th>
        <th>Categoria</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for item in itens %}
      <tr>
        <td><img src="{{ item.image.url }}" alt="{{ item.title }}" class="item-image"></td>
        <td>{{ item.title }}</td>
        <td>{{ item.get_category_display }}</td>
        <td>{{ item.get_condition_display }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="button-container">
    <button type="button" id="request-new-item">Solicitar Novo Item</button>
  </div>

  <script src="../static/js/loadNavbar.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const requestNewItemBtn = document.getElementById("request-new-item");
        requestNewItemBtn.addEventListener("click", function() {
            window.location.href = "solicitar_item.html"; // Redireciona para a página desejada
        });
    });
  </script>
</body>
</html>