{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../static/imagens/favicon.png" type="image/x-icon">
  <title>Itens Solicitados</title>
  <link rel="stylesheet" href="../static/css/itens_solicitados.css">
  <link rel="stylesheet" href="../static/css/navbar.css">

<body>
  {% include 'navbar.html' %}

  <header>
    <h1>Itens Solicitados</h1>
  </header>

  <table>
    <thead>
      <tr>
        <th>Imagem</th>
        <th>Item</th>
        <th>Data Agendada</th>
        <th>Hora Agendada</th>
      </tr>
    </thead>
    <tbody>
      {% for solicitacao in solicitacoes %}
      <tr>
        <td><img src="{{ solicitacao.doacao.image.url }}" alt="{{ solicitacao.doacao.item_name }}" style="width: 50px; height: auto;"></td>
        <td>{{ solicitacao.doacao.item_name }}</td>
        <td>
          {% if solicitacao.agendamento_recente %}
            {{ solicitacao.agendamento_recente.data_agendamento|date:"d/m/Y" }}
          {% else %}
            Não agendado
          {% endif %}
        </td>
        <td>
          {% if solicitacao.agendamento_recente %}
            {{ solicitacao.agendamento_recente.hora_agendamento|time:"H:i" }}
          {% else %}
            Não agendado
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script src="{% static 'js/loadNavbar.js' %}"></script>
</body>
</html>
