<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

    <div class="login-container">
        <form class="login-form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" placeholder="@example">
            </div>
            <div class="input-group">
                <label for="password1">Senha</label>
                <input type="password" id="password1" name="password1" placeholder="* * * * * *">
            </div>
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
            <button class="login-btn" type="submit">Entrar</button>
            <button type="button" class="back-btn" onclick="window.location.href='{% url 'inicio' %}'">Voltar</button>
            
        </form>
    </div>
    
</body>
</html>
