<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../static/imagens/favicon.png" type="image/x-icon">
  <title>Minhas Doações</title>
  <link rel="stylesheet" href="../static/css/navbar.css">  
  <link rel="stylesheet" href="../static/css/minhas_doacoes.css">
</head>
<body>
  {% include 'navbar.html' %}

  <header>
    <h1>Itens Doados</h1>
  </header>

  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Categoria</th>
        <th>Estado</th>
        <th>Editar</th> <!-- Nova coluna para ações -->
      </tr>
    </thead>
    <tbody>
      {% for doacao in doacoes %}
      {% if not doacao.avaliacao %}
      <tr>
        <td><a href="{% url 'descricao_minhas_doacoes' doacao.id %}">{{ doacao.item_name }}</a></td>
        <td>{{ doacao.get_category_display }}</td>
        <td>{{ doacao.get_condition_display }}</td>
        <td><a href="{% url 'editar_doacao' doacao.id %}">Editar</a></td> <!-- Link para editar doação -->
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <div class="button-container">
    <button id="donate-new-item" onclick="window.location.href='{% url 'doar_item' %}'">Fazer Nova Doação</button>
  </div>

  <script src="../static/js/loadNavbar.js"></script>
</body>
</html>
