<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Minhas Doações</title>
  <link rel="stylesheet" href="../static/css/navbar.css">  
  <link rel="stylesheet" href="../static/css/minhas_doações.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
  <div id="navbar-placeholder"></div>

  <header>
    <h1>Itens Solicitados</h1>
  </header>

  <table>
    <thead>
      <tr>
        <th>Imagem</th>
        <th>Item</th>
        <th>Categoria</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <!-- Repeat the row below for each item. Example for one item: -->
      <tr onclick="window.location.href = 'editar_doação.html';">
        <td><img src="../imagens/imagem_itemtabela.png" alt="Item Image" class="item-image"></td>
        <td>Nome do Item</td>
        <td>Categoria do Item</td>
        <td>Estado de Conservação</td>
      </tr>
      <!-- Additional rows go here -->
    </tbody>
  </table>

  <div class="button-container">
    <button type="button" id="donate-new-item">Doar Novo Item</button>
  </div>

  <script src="../static/js/loadNavbar.js"></script>
  <script>
    document.getElementById('donate-new-item').addEventListener('click', function() {
      window.location.href = 'doar_item.html';
    });
  </script>
</body>
</html>
