<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Minhas Doações</title>
  <link rel="stylesheet" href="../static/css/navbar.css">  
  <link rel="stylesheet" href="../static/css/minhas_doacoes.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
  {% include 'navbar.html' %}

  <header>
    <h1>Itens Doados</h1>
  </header>

  <table>
    <thead>
      <tr>
        <th>Imagem</th>
        <th>Item</th>
        <th>Categoria</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for doacao in doacoes %}
      <tr onclick="window.location.href = 'editar_doação.html';">
        <td><img type="file" id="image" name="image" accept="image/*"></td>
        <td>{{ doacao.item_name }}</td>
        <td>{{ doacao.category }}</td>
        <td>{{ doacao.get_condition_display }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="button-container">
    <button type="button" id="donate-new-item" onclick="window.location.href='{% url 'doar_item' %}'">Doar Novo Item</button>
  </div>

  <script src="../static/js/loadNavbar.js"></script>
  
</body>
</html>
