<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../static/imagens/favicon.png" type="image/x-icon">
  <title>Minhas Doações</title>
  <link rel="stylesheet" href="../static/css/navbar.css">  
  <link rel="stylesheet" href="../static/css/minhas_doacoes.css">
</head>
<body>
  {% include 'navbar.html' %}

  <header>
    <h1>Itens Doados</h1>
  </header>

  <table>
    <thead>
      <tr>
        <th>Imagem</th>
        <th>Item</th>
        <th>Categoria</th>
        <th>Estado</th>
        <th>Agendamento</th>
      </tr>
    </thead>
    <tbody>
      {% for doacao in doacoes %}
      <tr>
        <td><img src="{{ doacao.image.url }}" alt="Imagem do Item"></td>
        <td>{{ doacao.item_name }}</td>
        <td>{{ doacao.get_category_display }}</td>
        <td>{{ doacao.get_condition_display }}</td>
        <td>
          {% if doacao.is_requested %}
          <button onclick="window.location.href='{% url 'agendamento' doacao.id %}'">Agendar</button>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script src="../static/js/loadNavbar.js"></script>
</body>
</html>
