<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../static/imagens/favicon.png" type="image/x-icon">
  <title>NavBar</title>
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
  <nav class="nav">
    <i class="uil uil-bars navOpenBtn" ></i>
    <a href="#" class="logo"><img src="../static/imagens/logo_doamais.png" alt="Logo Doa Mais" class="navbar-logo"></a>

    <ul class="nav-links">
      <i class="uil uil-times navCloseBtn"></i> 
      <li>
        <a href="{% url 'pesquisar' %}" class="button-like-link">Pesquisar</a>
      </li>
      <li>
        <a href="{% url 'minhas_doacoes' %}" class="button-like-link">Minhas Doações</a>
      </li>
      <li>
        <a href="{% url 'perfil' %}" class="button-like-link">Perfil</a>
      </li>
      <li>
        <a href="{% url 'solicitar_item' %}" class="button-like-link">Solicitar Item</a>
      </li>
      <li class="dropdown">
        <a href="#" class="button-like-link">Categorias</a>
        <i class='uil uil-angle-down dropdown-arrow'></i>
        <ul class="dropdown-menu">
          <li><a href="{% url 'categoria_roupas' %}">Roupas</a></li>
          <li><a href="#">Móveis</a></li>
          <li><a href="#">Eletrônicos</a></li>
          <li><a href="#">Brinquedos</a></li>
          <li><a href="#">Livros</a></li>
        </ul>
      </li>      
      <li>
        <form action="{% url 'logout' %}" method="post" class="button-like-link">
            {% csrf_token %}
            <button type="submit" class="button-like-link">Sair</button>
        </form>
      </li>
    </ul>

  </nav>
  <script src="../static/js/loadNavbar.js"></script>
  <script src="../static/js/dropdown.js"></script> 

</body>
</html>
