<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Perfil</title>
  <link rel="stylesheet" href="../static/css/perfil.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
    <div id="navbar-placeholder"></div>
    <div class="profile-container">
        <header>
          <h1>Perfil</h1>
        </header>
        
        <div class="profile-info">
            <img class="avatar" src="../static/imagens/imagem_perfil.png" alt="Avatar Perfil">
            <div class="info-text">
                <h2>Nome Sobrenome</h2>
                <p class="username">nome_DE_usuario</p>
                <p class="email">exemplo.de.email@teste.com</p>
            </div>
        </div>
    
        <div class="preferences">
            <h3>Categorias de Preferência</h3>
            <ul>
                <li>Roupa</li>
                <li>Eletrônico</li>
            </ul>
        </div>
    
        <div class="buttons">
            <button type="button" id="requested-items">Itens Solicitados</button>
            <button type="button" id="edit-profile">Editar Perfil</button>
        </div>
    </div>
    
    <script src="../static/js/loadNavbar.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const requestedItemsBtn = document.getElementById("requested-items");
            requestedItemsBtn.addEventListener("click", function() {
                window.location.href = "itens_solicitados.html"; // Redireciona para a página desejada
            });
        });
    </script>
</body>
</html>