<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Perfil</title>
  <link rel="stylesheet" href="../static/css/perfil.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
    {% include 'navbar.html' %}
    <div class="profile-container">
        <header>
          <h1>Perfil</h1>
        </header>
        
        <div class="profile-info">
            <img class="avatar" src="{{ user.photo.url }}" alt="Avatar Perfil">
            <div class="info-text">
                <p class="first_name">{{ user.first_name }}</p>
                <p class="last_name">{{ user.last_name }}</p>
                <p class="username">{{ user.username }}</p>
                <p class="email">{{ user.email }}</p>
                <p class="location">{{ user.location }}</p>
                <div class="preferences">
                    <h3>Preferências</h3>
                    <ul>
                        {% if user.roupa %}<li>Roupa</li>{% endif %}
                        {% if user.eletronico %}<li>Eletrônico</li>{% endif %}
                        {% if user.movel %}<li>Móvel</li>{% endif %}
                        {% if user.livro %}<li>Livro</li>{% endif %}
                        {% if user.brinquedo %}<li>Brinquedo</li>{% endif %}
                    </ul>
                </div>
            </div>
        </div>
    
    
        <div class="buttons">
            <button type="button" id="requested-items">Itens Solicitados</button>
            <button type="button" id="edit-profile">Editar Perfil</button>
        </div>
    </div>
    
    <script src="../static/js/loadNavbar.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const requestedItemsBtn = document.getElementById("requested-items");
            requestedItemsBtn.addEventListener("click", function() {
                window.location.href = "itens_solicitados.html";
            });
        
            const editProfileBtn = document.getElementById("edit-profile");
            editProfileBtn.addEventListener("click", function() {
                window.location.href = "editar_perfil.html";
            });
        });
    </script>
</body>
</html>
