{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../static/imagens/favicon.png" type="image/x-icon">
  <title>Pesquisar</title>
  <link rel="stylesheet" href="../static/css/pesquisar.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
    {% include 'navbar.html' %}
    <div class="form-container">
        <form action="{% url 'pesquisar' %}" method="GET">
            <div class="row">
                <div class="input-group">
                    <label for="title">Nome do Item:</label>
                    <input type="text" id="title" name="title" placeholder="Insira o nome do item">
                </div>
                <div class="input-group">
                    <label for="category">Categoria:</label>
                    <select id="category" name="category">
                        <option value="">---</option>
                        <option value="clothes">Roupas</option>
                        <option value="furniture">Móveis</option>
                        <option value="electronics">Eletrônicos</option>
                        <option value="toy">Brinquedos</option>
                        <option value="book">Livros</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="condition">Estado de Conservação:</label>
                    <select id="condition" name="condition">
                        <option value="">---</option>
                        <option value="new">Novo</option>
                        <option value="used_good">Usado - Bom</option>
                        <option value="used_acceptable">Usado - Aceitável</option>
                    </select>
                </div>
                <div class="input-group">
                    <button type="submit" id="search">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>

    <div class="search-results">
        {% for item in resultados %}
        <div class="search-item">
            <img src="{{ item.image }}" alt="{{ item.item_name }}">
            <div>
                <p> {{ item.item_name }}</p>
                <!-- Ícone de estrela para marcar como favorito -->
                <img src="{% if item.is_favorite %}../static/imagens/star-filled.png{% else %}../static/imagens/star-empty.png{% endif %}" class="favorite-icon" data-item-id="{{ item.id }}" alt="Favorito">
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="../static/js/loadNavbar.js"></script>
    <script src="{% static '../static/js/favoritar.js' %}"></script>
</body>
</html>
