<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../static/imagens/favicon.png" type="image/x-icon">
  <title>Solicitações Recebidas</title>
  <link rel="stylesheet" href="../static/css/itens_solicitados.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
  {% include 'navbar.html' %}

  <header>
    <h1>Solicitações Recebidas</h1>
  </header>

  <table>
    <thead>
      <tr>
        <th>Imagem</th>
        <th>Item</th>
        <th>Categoria</th>
        <th>Estado</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for item in itens %}
      <tr>
        <td><img src="{{ item.doacao.image.url }}" alt="Imagem do item" style="width: 100px; height: 100px;"></td>
        <td>{{ item.doacao.item_name }}</td>
        <td>{{ item.doacao.get_category_display }}</td>
        <td>{{ item.doacao.get_condition_display }}</td>
        <td>
          {% if item.show_agendamento_button %}
            <button type="button" onclick="window.location.href='{% url 'agendamento' %}'">Agendar</button>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script src="../static/js/loadNavbar.js"></script>
</body>
</html>
