<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../static/imagens/favicon.png" type="image/x-icon">
  <title>Solicitar Item</title>
  <link rel="stylesheet" href="../static/css/solicitar_item.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
    {% include 'navbar.html' %}
    <div class="request-item-container">
      <div class="form-container">
        <form id="itemRequestForm" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="image-upload-container">
              <input type="file" id="image" name="image" accept="image/*">
            </div>
            <div class="input-group">
              <label for="title">Título do Item:</label>
              <input type="text" id="title" name="title" placeholder="Insira o título do item">
            </div>
          </div>
          <div class="row">
            <div class="input-group">
              <label for="category">Categoria:</label>
              <select id="category" name="category">
                <option value="">Selecione uma opção</option>
                <option value="clothes">Roupa</option>
                <option value="furniture">Móvel</option>
                <option value="electronics">Eletrônico</option>
                <option value="toy">Brinquedo</option>
                <option value="book">Livro</option>
              </select>
            </div>
            <div class="input-group">
              <label for="condition">Estado de Conservação:</label>
              <select id="condition" name="condition">
                <option value="">Selecione uma opção</option>
                <option value="new">Novo</option>
                <option value="used_good">Usado - Bom</option>
                <option value="used_acceptable">Usado - Aceitável</option>
              </select>
            </div>
          </div>
          <div class="input-group full-width">
            <label for="description">Descrição:</label>
            <textarea id="description" name="description"></textarea>
          </div>
          <div class="buttons-container">
            <button type="submit" id="submit">Solicitar</button>
          </div>
        </form>
      </div>
    </div>
    
    <script src="../static/js/loadNavbar.js"></script>

</body>
</html>