@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    width: 80%;  /* Ajustado para maior largura */
    max-width: 1000px;  /* Aumentado para acomodar uma tabela maior */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;  /* Tabela ocupa toda a largura do container */
    border-collapse: collapse;  /* Remove espaços entre as células */
}

th, td {
    text-align: left;
    padding: 8px;  /* Espaçamento dentro das células */
    border-bottom: 1px solid #ddd;  /* Linha entre as linhas */
}

th {
    background-color: #f8f8f8;  /* Cor de fundo para cabeçalho da tabela */
}

.star {
    color: grey;  /* Cor padrão das estrelas */
}

.star.filled {
    color: gold;  /* Cor das estrelas preenchidas */
}
