/* Estilos globais */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; /* Alinha verticalmente ao centro */
  flex-direction: column; /* Organiza os elementos em coluna */
  min-height: 100vh;
}

/* Estiliza o container do formulário */
.form-container {
  width: 80%; /* Largura ajustada para ocupar menos espaço */
  margin-top: 20px; /* Espaço no topo reduzido de 40px para 20px para subir a barra */
  display: flex; /* Mantém o uso de flexbox */
  flex-direction: column; /* Elementos internos em coluna */
  align-items: center; /* Centraliza horizontalmente */
}

/* Estiliza o formulário dentro do container */
.form-container form {
  display: flex; /* Usa flexbox */
  flex-direction: row; /* Elementos em linha */
  justify-content: space-evenly; /* Distribuição uniforme */
  width: 100%; /* Ocupa a largura total */
}

/* Estiliza a linha dentro do formulário */
.row {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centraliza os elementos */
  width: 100%;
}

/* Estilizações dos campos de entrada e botões */
.input-group input,
.input-group select,
.input-group button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  color: black;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: calc(25% - 20px); /* Adjust the width as needed, subtracting gap */
    margin: 10px;
}

.input-group button:hover {
  background-color: #888;
}

/* Estilização dos resultados de pesquisa */
.search-results {
  width: 80%; /* Ajusta a largura */
  margin-top: 20px; /* Espaço entre o formulário e os resultados */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* Estilização de cada item de pesquisa */
.search-item {
  width: 23%;
  margin: 10px;
  text-align: left;
}

.search-item img {
  width: 100%;
  height: 300px; /* Ajusto a altura da imagem */
  object-fit: cover;
}

.item-details {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.star-rating {
  color: grey;
  cursor: pointer;
  font-size: 30px; /* Aumento do tamanho da fonte das estrelas */
}

.star-rating.selected {
  color: yellow;
}
