
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 100px 20px 20px;
  overflow: auto;
  background-color: #f8f9fa;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 80%; /* Smaller width for the table */
  border-collapse: collapse;
  margin: 50px auto 20px; /* Top margin, auto horizontally for centering, and bottom margin */
}

table, th, td {
  border: 1px solid #dee2e6;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #e9ecef;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

.item-image {
    width: 80px; /* Increased size */
    height: 80px; /* Increased size */
    object-fit: cover; /* Ensure the images cover the area without distorting */
  }

.button-container {
  text-align: center;
}

#request-new-item {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #aaa;
  color: black;
  cursor: pointer;
  font-size: 16px;
}

#request-new-item:hover {
  background-color: #888;
}


#request-new-item {
    display: none; /* Oculta o botão na página 'solicitações_recebidas' se não for necessário */
  }